.row {
  width: 100vh !important;
}

.text {
  color: var(--white-color)
}

.text h1 {
  font-size: 6em;
}

.text p {
  font-size: var(--size-title);
  line-height: 35px;
}

.text button {
  padding: 10px 15px;
  background: var(--secondary-color);
  border: none;
  color: var(--white-color);
  border-radius: 10px;
  font-size: var(--size-content);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all .3s ease;
  cursor: pointer;
}

.text button:hover {
  background: var(--primary-color);
}